* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

input[type='text'],
button {
  padding: 5px 10px;
  border-radius: 10px;
  outline: none;
  border: 2px solid var(--clrPrimaryBase);
  background-color: var(--bgcBase);
}

button:hover {
  box-shadow: 0 0 5px var(--clrPrimaryBase);
}

button,
input[type='color'] {
  cursor: pointer;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
