.canvas-container {
  display: inline-block;
  position: relative;
}

canvas {
  border: 1px solid black;
}

.overlay-text {
  position: absolute;
  width: 100%;
}

@media (max-width: 767px) {
  canvas {
    width: 100%;
  }
}

@media (min-width: 1020px) {
  canvas {
    height: 100%;
  }
}
