.canvas-container {
  display: inline-block;
}

canvas {
  border: 1px solid black;
}

@media (max-width: 767px) {
  canvas {
    width: 100%;
  }
}

@media (min-width: 1020px) {
  canvas {
    height: 100%;
  }
}
