.canvas-container {
  display: inline-block;
  position: relative;
}

canvas {
  border: 1px solid black;
}

.overlay-text {
  position: absolute;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  overflow: hidden; /* Hide horizontal scrollbar */
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}

.overlay-text-top {
  top: 0;
  left: 0;
}

.overlay-text-bottom {
  bottom: 0;
  left: 0;
}

.overlay-text:hover {
  border: 2px solid gray;
  resize: both;
}
