.editor {
  gap: 20px;
}

.editor * {
  width: 100%;
}

.editor .gap {
  gap: 10px;
}

.editor .text-changer {
  padding: 5px 10px;
  border-radius: 10px;
  outline: none;
  border: 2px solid var(--clrPrimaryBase);
  background-color: var(--bgcBase);
}

.editor .text-changer:hover {
  cursor: pointer;
  box-shadow: 0 0 5px var(--clrPrimaryBase);
}

#textColor {
  max-width: 20px;
  max-height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#textColor::-webkit-color-swatch {
  border-radius: 15px;
}

@media (max-width: 767px) {
  .editor {
    gap: 10px;
  }
}
