.editor {
  gap: 20px;
  width: 100%;
}

.editor * {
  transition: 0.3s;
  width: 100%;
}

.editor .gap {
  gap: 10px;
}

.editor .text-changer {
  padding: 5px 10px;
  border-radius: 10px;
  outline: none;
  border: 2px solid var(--clrPrimaryBase);
  background-color: var(--bgcBase);
}

.editor .text-changer:hover {
  cursor: pointer;
  box-shadow: 0 0 5px var(--clrPrimaryBase);
}

.plus,
.minus,
.download {
  width: fit-content;
}

.color-picker {
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

#textColor,
#strokeColor {
  visibility: hidden;
  width: 0;
}

@media (max-width: 767px) {
  .editor {
    gap: 10px;
  }
}
