.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
  justify-self: center;
  justify-content: center;
  width: 90vw;
}

.gallery article {
  margin: 2% 1% 0 1%;
  width: 20%;
}

.gallery article img {
  cursor: pointer;
  filter: grayscale(1);
  transition: 0.3s;
}

.gallery article img:hover {
  box-shadow: 0 0 10px rgb(150, 206, 65, 0.8);
  filter: unset;
}

@media (max-width: 767px) {
  .gallery article {
    /* margin: 10px 5px 0px 5px; */
    width: 40%;
  }
}
