header {
  min-height: 80px;
  padding: 0 50px;
  border-bottom: 1px solid var(--clrPrimary1);
  margin-bottom: 30px;
  box-shadow: 0 5px 15px var(--clrPrimary-1);
}

header div {
  font-size: 25px;
}

header div span {
  width: 60px;
}

header .nav {
  gap: 15px;
}

header .nav a:hover {
  color: var(--clrPrimaryBase);
}

@media (max-width: 650px) {
  header {
    flex-direction: column;
    gap: 5px;
    padding: 20px 50px;
  }

  header .nav {
    flex-direction: column;
  }
}
